body{
margin:0;
font-family:Arial;
background:#000;
}

.ar-container{
position:relative;
height:100vh;
overflow:hidden;
}


/* HEADER */

.ar-header{

position:absolute;
top:0;

width:90%;
height:60px;

display:flex;
align-items:center;
justify-content:space-between;

padding:10px 20px;

z-index:10;
}


.menu-icon{
font-size:22px;
color:white;
}

.profile{
font-size:22px;
color:white;
}


.search{

width:60%;
padding:10px;

border-radius:20px;
border:none;
}


/* MAPA / CAMARA */

.ar-mapa{

position:absolute;
top:0;
left:0;

width:100%;
height:100%;

overflow:hidden;
}

.ar-bg{

width:100%;
height:100%;
object-fit:cover;
}


/* RUTA */

.ruta{

position:absolute;

bottom:0;
left:40%;

width:300px;
height:120px;

background:purple;

border-radius:200px 200px 0 0;

opacity:.8;
}


/* PIN */

.pin{

position:absolute;

background:#8A2BE2;

color:white;

padding:6px 12px;

border-radius:20px;

font-weight:bold;
}

.parque{

top:30%;
left:45%;

}

.bodega{

top:45%;
right:20%;

}


/* PANEL INFERIOR */

.ar-info{

position:absolute;

bottom:0;

width:100%;

background:#fff;

border-radius:20px 20px 0 0;

padding:20px;

}


.location{

font-size:14px;

margin-bottom:10px;

color:#444;

}


.card{

display:flex;

gap:10px;

margin-bottom:10px;

}


.card img{

width:80px;
height:60px;

border-radius:8px;

object-fit:cover;

}


.card-text h3{

margin:0;
font-size:16px;

}


.card-text p{

margin:4px 0 0;
font-size:12px;

color:#666;

}